<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="dlab-bnr-inr overlay-black-middle bg-pt" style="background-image:url(../../assets/images/banner/bnr4.jpg);">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1 class="text-white">Login</h1>
                <!-- Breadcrumb row -->
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a routerLink="/login">Forget Password</a></li>
                        <li>Change Password</li>
                    </ul>
                </div>
                <!-- Breadcrumb row END -->
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="section-full content-inner shop-account">
        <!-- Product -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="font-weight-700 m-t0 m-b40">Enter Your Code to change password</h2>
                </div>
            </div>
            <div class="row dzseth">
                <div class="col-lg-6 col-md-6 m-b30" style="height: 418px;">
                    <div class="p-a30 border-1 seth" style="height: 418px;">
                        <div class="tab-content">
                            <h4 class="font-weight-700">NEW CUSTOMER</h4>
                            <p class="font-weight-600">By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                            <a class="site-button m-r5 button-lg radius-no" href="javascript:void(0);">CREATE AN ACCOUNT</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 m-b30" style="height: 418px;">
                    <div class="p-a30 border-1 seth" style="height: 418px;">
                        <div class="tab-content nav">
                          
                                <form  class="tab-pane active col-12 p-a0 " method="post">
                                     

        
                                <p class="font-weight-600">Code has been successfully sent to {{emailReceived}}  </p>
                          
                                <div class="form-group">
                                  
                                    <input name="code" [(ngModel)]="codetopass" #code="ngModel" [class.is-invalid]="code.invalid && code.untouched" class="form-control" placeholder="Enter Your Code" type="text" required>
                                    <small class="text-danger" [class.d-none]="code.valid || code.untouched"> Code is required</small>
                                </div>
                                <div class="form-group">
                                  
    
                                    <input name="password"[(ngModel)]="passwordtopass" #password="ngModel" [class.is-invalid]="password.invalid && password.untouched" class="form-control " placeholder="Enter Your New Password" type="password" required>
                                    <small class="text-danger" [class.d-none]="password.valid || password.untouched"> Password is required</small>
                                </div>
                                <div class="form-group">                             
                           
                                    <input name="confirmpassword" [(ngModel)]="confirmpasswordtopass" #confirmpassword="ngModel" [class.is-invalid]="confirmpassword.invalid && confirmpassword.untouched" class="form-control " placeholder="Confirm Password" type="password"    required>
                                    <small class="text-danger" [class.d-none]="confirmpassword.valid || confirmpassword.untouched"> Confirm Password is required</small>
                                </div>
                                <div class="text-left">
                                 
                                    <button type="submit" (click)="resetPassword()" class="site-button m-r5 button-lg radius-no" >Confirm</button>
                                </div>
                            </form>

                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product END -->
    </div>

</div>