<header class="site-header mo-left header">
	<!-- main header -->
	<div class="sticky-header main-bar-wraper header-curve navbar-expand-lg">
		<div class="main-bar clearfix bg-primary">
		
				<!-- website logo -->
				<div class="logo-header mostion" style="margin-left: 20px;">
					<a routerLink="/home"  routerLinkActive="active"><img src="assets/images/logo.png" alt=""></a>
				</div>
				<!-- nav toggle button -->
				<button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<!-- extra nav -->
				
				<!-- Quik search -->
				<div class="dlab-quik-search ">
					<form action="#">
						<input name="search" value="" type="text" class="form-control" placeholder="Type to search">
						<span id="quik-search-remove"><i class="ti-close"></i></span>
					</form>
				</div>
				<!-- main nav -->
				<div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown" style="margin-right: 422px;">
					<div class="logo-header d-md-block d-lg-none">
						<a href="index.html"><img src="assets/images/logo.png" alt=""></a>
					</div>
					<ul class="nav navbar-nav">	
						<li class="active">
							<a routerLink="/home"  routerLinkActive="active">Home</a>
							
						</li>
						<li>
							<a href="teacher.html">Teachers</a>
						</li>
						<li class="has-mega-menu"> <a href="courses.html">Courses</a>
						</li>
						<li>
							<a href="event.html">Events</a>
						</li>
						<li class="has-mega-menu"> <a href="services-1.html">Services</a>
						
						</li>
						<li>
							<a href="blog-half-img.html">Blog</a>
						</li>
						
						<li>
							<a href="contact-3.html">Contact Us</a>
							
						</li>
						<li style="    position: absolute;
						right: 26px;">
							<a routerLink="/login"  routerLinkActive="active">Login </a>
						<a routerLink="/register" routerLinkActive="active">Register </a>
						<i class="fa fa-user-plus" style="font-size: 18px;"></i>
						</li>
					</ul>
				</div>
			
		</div>
	</div>
	<!-- main header END -->
</header>