<div class="page-content bg-white">
    <!-- inner page banner -->
    <div class="dlab-bnr-inr overlay-black-middle text-center bg-pt" style="background-image:url(../../assets/images/background/kindergarten/bh_about.jpg);">
        <div class="container">
            <div class="dlab-bnr-inr-entry align-m text-center">
                <h1 class="text-white">About us</h1>
                <!-- Breadcrumb row -->
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a routerLink="/home" RouterLinkActive="active">Home</a></li>
                        <li>About us</li>
                    </ul>
                </div>
                <!-- Breadcrumb row END -->
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-block">
        <!-- About Services info -->
        <div class="section-full content-inner bg-white wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: fadeIn;">
            <div class="container">
                <div class="row about-one align-items-center">
                    <div class="col-lg-6 m-b30">
                        <div class="about-img">
                            <img src="../../assets/images/about/about2/children_playing.jpg" alt="">
                           
                         
                        </div>
                    </div>
                    <div class="col-lg-6 m-b30">
                        <div class="content-bx">
                            <h2 class="m-b15 title">KIDSPRO<br><span class="text-primary">َAll care you need for your child!</span></h2>
                            <p class="m-b20">

                            In KIDSPRO, we provide such a place where children ages 4-6 can develop a
                             strong foundation for learning. 
                          
                              Through play, children develop critical language and cognitive abilities that translate 
                              into creative thinking, social intelligence, self-structure, reading, writing, and problem 
                              solving skills. 
                      



                            </p>											
                           <br><br>
                            <div class="d-flex align-items-center">
                             
                                <div class="phone">
                                    <i class="fa fa-volume-control-phone"></i>
                                    <span>+91 (123) 456 7890</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <!-- About Services info END -->
        <!-- Company staus -->
        <div class="section-full text-white bg-img-fix content-inner overlay-black-dark counter-staus-box" style="background-image:url(images/background/bg4.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-3 m-b30 col-sm-6 col-6 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="icon-bx-wraper center">
                            <div class="icon-content">
                                <h2 class="dlab-tilte counter">1226</h2>
                                <p>Happy Students</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 m-b30 col-sm-6 col-6 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="icon-bx-wraper center">
                            <div class="icon-content">
                                <h2 class="dlab-tilte counter">1552</h2>
                                <p>Approved Courses</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 m-b30 col-sm-6 col-6 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="icon-bx-wraper center">
                            <div class="icon-content">
                                <h2 class="dlab-tilte counter">1156</h2>
                                <p>Certified Teachers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 m-b30 col-sm-6 col-6 wow fadeInUp counter-style-5" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="icon-bx-wraper center">
                            <div class="icon-content">
                                <h2 class="dlab-tilte counter">2100</h2>
                                <p>Graduate Students</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Company staus End -->
        <!-- Team Section -->
        <div class="section-full text-center bg-white content-inner">
            <div class="container">	
                <div class="section-head text-black text-center">
                    <h2 class="title">Our AdminGartens</h2>
<p>Teaching young children the basics that will serve as building blocks in later years of school. Teaching kindergarten can be simultaneously one of the most rewarding and challenging jobs in a school. It requires patience and a love of children</p>              </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a href="javascript:;">
                                    <img width="358" height="460" alt="" src="../../assets/images/our-team/pic1.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a href="teachers-profile.html">Nashid Martines</a></h4>
                                <span class="dlab-position">Director</span>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a href="javascript:;">
                                    <img width="358" height="460" alt="" src="../../assets/images/our-team/pic2.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a href="teachers-profile.html">Konne Backfield</a></h4>
                                <span class="dlab-position">Teacher</span>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a href="javascript:;">
                                    <img width="358" height="460" alt="" src="../../assets/images/our-team/pic3.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a href="teachers-profile.html">Hackson Willingham</a></h4>
                                <span class="dlab-position">Doctor</span>
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30 dlab-team1">
                            <div class="dlab-media">
                                <a href="javascript:;">
                                    <img width="358" height="460" alt="" src="../../assets/images/our-team/pic4.jpg">
                                </a>
                            </div>
                            <div class="dlab-info">
                                <h4 class="dlab-title"><a href="teachers-profile.html">Konne Backfield</a></h4>
                                <span class="dlab-position">Director</span>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team Section END -->
      
    </div>
    <!-- contact area END -->
</div>