<div class="page-content bg-gray">
    <!-- inner page banner -->
    <div class="dlab-bnr-inr overlay-black-middle bg-pt"
        style="background-image:url(../../assets/images/background/blog_background.jpg);">
        <div class="container">
            <div class="dlab-bnr-inr-entry">
                <h1 class="text-white">Blog </h1>
                <!-- Breadcrumb row -->
                <div class="breadcrumb-row">
                    <ul class="list-inline">
                        <li><a routerLink="/home">Home</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
                <!-- Breadcrumb row END -->
            </div>
        </div>
    </div>
    <!-- inner page banner END -->
    <!-- contact area -->
    <div class="content-area bg-gray">
        <div class="container">
            <!-- Blog half image -->
            <div class="blog-post blog-md clearfix shadow bg-white">
                <div class="dlab-post-media dlab-img-effect zoom-slow">
                    <a routerLink="/blog"><img src="../../assets/images/blog/grid/pic1.jpg" alt=""></a>
                </div>
                <div class="dlab-post-info">
                    <div class="dlab-post-meta">
                        <ul>
                            <li class="post-author"> <i class="la la-user-circle"></i>Posted By Jamie</li>

                        </ul>
                    </div>
                    <div class="dlab-post-title ">
                        <h4 class="post-title"><a href="blog-single.html">Why is Early Education Essential?</a></h4>
                    </div>
                    <div class="dlab-post-text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s</p>
                    </div>
                    <div class="post-footer">
                        <div class="dlab-post-meta">
                            <ul>
                                <li class="post-date"> <i class="la la-clock"></i> <strong>01 June</strong> <span>
                                        2020</span> </li>
                            </ul>
                        </div>
                        <ul class="dlab-social-icon dez-border">
                            <li><a class="site-button circle-sm fa fa-thumbs-up" href="javascript:void(0);"></a></li>
                            <li><a class="site-button circle-sm fa fa-thumbs-down  " href="javascript:void(0);"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Blog half image END -->
            <!-- Pagination  -->
            <div class="pagination-bx rounded-sm primary clearfix text-center">
                <ul class="pagination">
                    <li class="previous"><a href="javascript:void(0);"><i class="ti-arrow-left"></i> Prev</a></li>
                    <li class="active"><a href="javascript:void(0);">1</a></li>
                    <li><a href="javascript:void(0);">2</a></li>
                    <li><a href="javascript:void(0);">3</a></li>
                    <li class="next"><a href="javascript:void(0);">Next <i class="ti-arrow-right"></i></a></li>
                </ul>
            </div>
            <!-- Pagination END -->
        </div>
    </div>
</div>